<h1>Employee Registration</h1>

<table>
    <tr>
        <td>EmpId</td>
        <td><input type="text" name="empId" [(ngModel)]="employee.empId" /> </td>
    </tr>
    <tr>
        <td>EmpName</td>
        <td><input type="text" name="empName" [(ngModel)]="employee.empName" /> </td>
    </tr>
    <tr>
        <td>Salary</td>
        <td><input type="text" name="salary" [(ngModel)]="employee.salary" /> </td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>
            <select name="gender" [(ngModel)]="employee.gender">
                <option value="" selected>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Others">Others</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Date Of Join</td>
        <td><input type="date" name="doj" [(ngModel)]="employee.doj" /> </td>
    </tr>
    <tr>
        <td>Country</td>
        <td>
            <select name="country" [(ngModel)]="employee.country">
                <option value="" selected>Select Country</option>
                <option value="IND">INDIA</option>
                <option value="CHI">CHINA</option>
                <option value="USA">USA</option>
                <option value="UK">ENGLAND</option>
                <option value="CAN">CANADA</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Email-Id</td>
        <td><input type="text" name="emailId" [(ngModel)]="employee.emailId" /> </td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input type="password" name="password" [(ngModel)]="employee.password" /> </td>
    </tr>
    <tr>
        <td>Department</td>
        <td>
            <select name="deptId" [(ngModel)]="employee.deptId">
                <option value="" selected>Select Department</option>
                <option value="10">IT</option>
                <option value="20">Sales</option>
                <option value="30">Testing</option>
                <option value="40">Accounts</option>
                <option value="50">HR</option>
            </select>
        </td>
    </tr>
    
    <tr>
        <td colspan="2" align="center">
            <button (click)="submit()">Register</button> 
        </td>
    </tr>
</table> 