/* showemployees.component.css */

table {
    width: 80%;
    /* border-collapse: collapse; */
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  