<p>showemployees works!</p>

<!-- showemployees.component.html -->
<h1><u>Employee Data..</u></h1>

<table>
    <thead>
      <tr>
        <th>Emp ID</th>
        <th>Emp Name</th>
        <th>Salary</th>
        <th>Gender</th>
        <th>Date of Join</th>
        <th>emailId</th>
        <th>password</th>
        <th>deptId</th>
        <th>Experience</th>
        <!-- <th>Martial Status</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name | gender :employee.gender }}</td>
      <td>{{ employee.salary | currency:'INR'}}</td>
      <td>{{ employee.gender }}</td>
      <td>{{ employee.doj | date:'dd-MMM-yyyy' }}</td>
      <td>{{ employee.emailId }}</td>
      <td>{{ employee.password }}</td>
      <td>{{ employee.deptId }}</td>
      <td>{{ employee.doj  | exp}}</td>
      </tr>
    </tbody>
  </table>
  
