<div align="center">
    <table>
        <tr>
            <td>Enter Employee Id:</td>
            <td><input type="text" name="empId" [(ngModel)]="empId" /></td>
        </tr>
        <tr>
            <td></td>
            <td><button (click)="getEmployeeById()">Get Employee</button></td>
        </tr>
    </table>    
</div>
<br/>

<div *ngIf="emp">

    <table border="2" align="center">
        <thead>
            <tr>
                <th>EmpId</th>
                <th>EmpName</th>
                <th>Salary</th>
                <th>Gender</th>
                <th>DateOfJoin</th>
                <th>EmailId</th>
                <th>DpetId</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{emp.id}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.gender}}</td>
                <td>{{emp.doj}}</td>
                <td>{{emp.emailId}}</td>
                <td>{{emp.DpetId}}</td>
            </tr>
        </tbody>
    </table>

</div>
