<!-- <app-test></app-test> -->

<!-- <app-test2></app-test2>  -->

<app-login></app-login>

<!-- <app-register></app-register>  -->

<!-- <app-showemployees></app-showemployees> -->

<!-- <app-employeebyid></app-employeebyid> -->

<!-- <app-emplogin></app-emplogin> -->