<p>test works!!!!</p>
<h1>Person Details</h1>
<h3>id: {{ id }} <br/></h3>
<h3>Name: {{ name }} <br/></h3>
<h3>Age: {{ age }} <br/></h3>

<h2><u>Address</u></h2>
<p>StreetNo: {{ address.StreetNo }} <br/></p>
<p>City  : {{ address.city }}<br/></p>
<p>State : {{ address.state }}<br/></p>

<h2><u>Hobbies</u></h2>

<ul>
  <li *ngFor="let h of hobbies">{{ h }}</li>
</ul>

